APScheduler 
backports.zoneinfo 
black 
cachetools 
certifi 
charset-normalizer 
click 
idna 
mypy-extensions 
pathspec 
platformdirs 
python-dotenv 
python-telegram-bot 
pytz 
pytz-deprecation-shim 
requests 
six 
tomli 
tornado
typing_extensions 
tzdata 
tzlocal 
urllib3 
